.banner {
    background-image: url('../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}

.banner h3 {

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
}

.banner h1 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    height: 95px;
    padding-bottom: 220px;
}

discount {
    text-align: center;
}

.discount h1 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount h6 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount h2 {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px 298px
}

.welcome-party {
    background-image: url('../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    width: 1320px;
    height: auto;
    background-repeat: no-repeat;
    margin: 120px auto;
    display: flex;
}

/* .midnight-party-heading{
    padding: 126px;
} */

.welcome-party h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin: 0;
}

.welcome-party-heading p {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.welcome-party-heading input {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    border: none;
    padding-top: 30px;
    padding-left: 40px;
}

.welcome-party-heading {
    padding: 126px;
}

.welcome-party-image img {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.welcome-party-image {
    padding-top: 68px;
    padding-bottom: 67px;
    padding-right: 138px;
}

.welcome-party h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px;
    padding-bottom: 214px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.location {
    background-color: aliceblue;
    background-image: linear-gradient (180 deg, lightgray 5073);
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    box-shadow: azure 5px;
    padding: 50px 385px 100px 385px;

}

.location h3 {
    color: D#070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    padding: 5px 32px;
}

.offer {
    display: flex;
    background: #FFF;
    width: 1300px;
    height: 600px;
    margin-left: 10px;
    justify-content: space-around;


}
.offer-h{
 margin-left: 90px;
}

.offer-one h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 90px;

}

.offer-one h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 5px 5px 5px 5px;
}

.offer-one p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 350px;
    height: 120px;
    padding-bottom: 100px;
}

.offer-two {
 
    background-color: #FFF;
    width: 364.844px;
    height: 364.844px;
    border-radius: 100%;
    border-radius: 463px;
    border: 15px solid #F00;
    justify-content: center;
    margin-top: 90px;
    padding: 15px;
}

.offer-three h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 90px;
}

.offer-three p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.holiday-discount {
    width: 1320px;
    margin: auto;
    background-color: #FFF;
}

.holiday-discount-header h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.holiday-discount-header h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-discount-header p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    margin: auto;
    margin-top: 10px;
}

.holiday-discount-img {
    display: flex;

}

.holiday-discount-img-first {
    margin-top: 200px;
}

.holiday-discount-img-seacond {}

.holiday-discount-img-third {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;
    padding-right: 65px;
}

.holiday-discount-img-last {
    width: 1300px;
    height: 200px;
    margin: auto;
}

.gift {
    margin-left: 37px;
}

.gift-h h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-h h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.gift-img{
        margin-left: 70px;
}
.img-one{
    padding-bottom: 5px;

}
.img-two{
    padding-left: 5px;
    padding-bottom: 5px;
}
.img-three{
    padding-bottom: 5px;
    padding-left: 5px;
}
.img-four{
    
}
.img-five{
    padding-left: 5px;
}
.img-six{
    padding-left: 5px;
}
.subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
}

.icon {
    width: 150px;
    height: 150px;
    padding: 80px 585px 0px 585px;
}

.subscribe h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 212px 0px 212px;
}

.search {
    width: 500px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding-left: 100px;
    margin-left: 300px;
}

.button {
    width: 210px;
    height: 72px;
    border-radius: 0 50px 50px 0;

    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;

}

.contract {
    justify-content: space-around;
    display: flex;
    background: #070211;
    ;
    width: 1490px;
    height: 609px;

}

.addres {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 90px;
    padding-top: 120px;
}

.contract-online {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 200px;
    padding-top: 120px;
}

.social-media {
    padding-top: 300px;
}